{% extends 'base.html' %}
<!-- load static tags -->
{% load static %}
<!-- content begins -->
{% block content %}
<main class="form-signin">
  <form method="POST">
    {% csrf_token %}
    <img
      class="mb-4"
      src="{% static 'images/logo.png' %}"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating mb-2">
      <input
        type="text"
        name="username"
        id="username"
        class="form-control"
        placeholder="username"
      />

      <label for="username">Username</label>
    </div>

    <input type="submit" value="Login" class="w-100 btn btn-lg btn-primary" />
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</main>
{% endblock content %}
